/sami-cache
/vendor
/node_modules
/coverages
/api
.env
.idea
.DS_Store
/public/_static
/public/hot
/public/storage
/public/_resources
/shared
/storage/*.key
/.envoydeploy
npm-debug.log
yarn-error.log
cs_fixer_tmp*
.php_cs.cache
.phpunit.cache
.php-cs-fixer.cache
/public/mix-manifest.json
/*.diff
/.phpunit.cache
.env.backup
/tools
