sudo: false
dist: trusty
language: php
cache:
    yarn: true
    directories:
        - $HOME/.composer/cache/files

branches:
  only:
  - master
  - develop

php:
  - 7.1
  - 7.2

before_install:
  # Install nvm for nodejs
  - nvm install 10
  - nvm use 10
  # Install yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=vendor/bin:node_modules/.bin:$HOME/.yarn/bin:$PATH

before_script:
  # Install dependencies and build the project
  - make yarn
  - make composerinstalldev
  - make build

script:
  - make generatekey
  - make phplintdry
  - make stylelint
  - make runtests
  - php vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/php-coveralls -v
