/* Resolved from tailwind.config.js `theme.extend.colors` */

/* Gray */
$gray: #a1a1aa;
$gray-50: #fafafa;
$gray-100: #f4f4f5;
$gray-200: #e4e4e7;
$gray-300: #d4d4d8;
$gray-400: $gray;
$gray-500: #71717a;
$gray-600: #52525b;
$gray-700: #3f3f46;
$gray-800: #27272a;
$gray-900: #18181b;

/* Green */
$green: #0c5449;
$green-50: #cedddb;
$green-100: #9ebbb6;
$green-200: #6d9892;
$green-300: #3d766d;
$green-400: $green;
$green-500: #0b4a40;
$green-600: #094038;
$green-700: #08352f;
$green-800: #062b27;
$green-900: #05211e;

/* Gold */
$gold: #fc3;
$gold-50: #fff5d6;
$gold-100: #ffebad;
$gold-200: #ffe085;
$gold-300: #ffd65c;
$gold-400: $gold;
$gold-500: #edbd2c;
$gold-600: #dbae25;
$gold-700: #c89f1f;
$gold-800: #b69018;
$gold-900: #a48111;

/* White */
$white: #fff;

/* Black */
$black: #09090b;
