// Change based on top menu width - if you edit, change in tailwind.js as well
$menu-top-breakpoint: 780px;

// Menu-top
$menu-top-background: #093f39;
$menu-height: 65px;
$menu-top-font-size: 16px;

// Slick
$slick-font-path: "../fonts/";
$slick-loader-path: "/_resources/images/";

// Colors
$darker-green: #10312c;
$lighter-yellow: #ffd969;
