// Change based on top menu width
$menu-top-breakpoint: map-get($breakpoints, 'offcanvas');

// Menu-top
$menu-top-background: #093f39;
$menu-height: 65px;
$menu-top-font-size: 16px;

// Slick
$slick-font-path: "../fonts/";
$slick-loader-path: "/_resources/images/";
