@use "sass:meta";
/* Combination of normalize and tailwind resets */
@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css("mediabox/dist/mediabox");
@include meta.load-css("flickity/dist/flickity");
@include meta.load-css("@waynestate/wsuheader/dist/header");
@include meta.load-css("@waynestate/wsufooter/dist/footer");

/* Partials */
@include meta.load-css("partials/layout");
@include meta.load-css("partials/component-loop");

/* Components */
@include meta.load-css("components/global");
@include meta.load-css("components/global-tables");
@include meta.load-css("components/global-headings");
@include meta.load-css("components/global-buttons");
@include meta.load-css("components/accordion");
@include meta.load-css("components/flag");
@include meta.load-css("components/bg-gradient");
@include meta.load-css("components/carousel");
@include meta.load-css("components/content");
@include meta.load-css("components/external-icon");
@include meta.load-css("components/formy");
@include meta.load-css("components/icons");
@include meta.load-css("components/menu-icon");
@include meta.load-css("components/menu-main");
@include meta.load-css("components/menu-slideout");
@include meta.load-css("components/menu-top");
@include meta.load-css("components/responsive-embed");
@include meta.load-css("components/row");
@include meta.load-css("components/skip");
@include meta.load-css("components/slate");
@include meta.load-css("components/visually-hidden");
@include meta.load-css("components/table-of-contents");
@include meta.load-css("components/print");
@include meta.load-css("components/cms-layouts");
@include meta.load-css("components/play-video-button");
@include meta.load-css("components/pdf");
@include meta.load-css("components/full-width-styleguide-hero");
@include meta.load-css("components/policy-numbering");
@include meta.load-css("components/hero");

/* Site specific */
@include meta.load-css("site-specific/theme");
