@tailwind preflight;

// Set default links to not have underlines since most cases this is what we want
a {
    color: #0c5449;
    text-decoration: none;
}

// Tailwind preflight sets this to .5 which isn't ADA compliant
input::placeholder,
textarea::placeholder {
    opacity: 1;
}

// Include slick carousel
$slick-font-path: "../fonts/";
$slick-loader-path: "/_resources/images/";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

// Include magnific pop-up
@import "~magnific-popup/src/css/_settings";
@import "~magnific-popup/src/css/main";

// Include header and footer
@import "~@waynestate/wsuheader/dist/header";
@import "~@waynestate/wsufooter/dist/footer";

// Partials
@import "partials/fonts";
@import "partials/menu-main";
@import "partials/menu-offcanvas";
@import "partials/content-area";
@import "partials/content";
@import "partials/footer-social";
@import "partials/banner";
@import "partials/breadcrumbs";

// Reusable components
@import "components/accordion";
@import "components/button";
@import "components/formy";
@import "components/hero";
@import "components/menu-icon";
@import "components/menu-top";
@import "components/responsive-embed";
@import "components/share";
@import "components/rotate";
@import "components/row";
@import "components/skip";
@import "components/table-stack";
@import "components/visually-hidden";

// Tailwind
@tailwind components;
@tailwind utilities;
