// Combination of normalize and tailwind resets
@tailwind preflight;

@import "components/global";
@import "components/accordion";
@import "components/banner";
@import "components/button";
@import "components/carousel";
@import "components/content";
@import "components/formy";
@import "components/icons";
@import "components/menu-icon";
@import "components/menu-main";
@import "components/menu-offcanvas";
@import "components/menu-top";
@import "components/responsive-embed";
@import "components/share";
@import "components/row";
@import "components/skip";
@import "components/table-stack";
@import "components/visually-hidden";

// Tailwind
@tailwind components;
@tailwind utilities;
