@import 'tailwindcss';

/* External */
@import "mediabox/dist/mediabox.css";
@import "flickity/dist/flickity.css";
@import "@waynestate/wsuheader/dist/header.css";
@import "@waynestate/wsufooter/dist/footer.css";

/* Partials */
@import "partials/layout.css";
@import "partials/component-loop.css";

/* Components */
@import "components/global.css";
@import "components/global-tables.css";
@import "components/global-headings.css";
@import "components/global-buttons.css";
@import "components/accordion.css";
@import "components/flag.css";
@import "components/bg-gradient.css";
@import "components/carousel.css";
@import "components/content.css";
@import "components/external-icon.css";
@import "components/formy.css";
@import "components/icons.css";
@import "components/menu-icon.css";
@import "components/menu-main.css";
@import "components/menu-slideout.css";
@import "components/menu-top.css";
@import "components/responsive-embed.css";
@import "components/row.css";
@import "components/skip.css";
@import "components/slate.css";
@import "components/visually-hidden.css";
@import "components/table-of-contents.css";
@import "components/print.css";
@import "components/cms-layouts.css";
@import "components/play-video-button.css";
@import "components/pdf.css";
@import "components/full-width-styleguide-hero.css";
@import "components/policy-numbering.css";
@import "components/hero.css";

/* Site specific */
@import "site-specific/theme.css";

@source "@waynestate/wsuheader/dist/header.css";
@source "@waynestate/wsufooter/dist/footer.css";

@theme {
    --font-sans: 'Lato', 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
    --font-seif: 'Georgia', 'Times', 'Times New Roman', 'serif';
    --breakpoint-sm: 420px;
    --breakpoint-md: 576px;
    --breakpoint-lg: 732px;
    --breakpoint-xl: 888px;
    --breakpoint-2xl: 1044px;
    --breakpoint-3xl: 1200px;
    --breakpoint-mt: 780px;

    /* TODO - Print breakpoint, whats needed? print: { raw: 'print' } */
    
    --color-black: oklch(0.141 0.005 285.823);
    --color-gray-50: oklch(0.985 0 0);
    --color-gray-100: oklch(0.967 0.001 286.375);
    --color-gray-200: oklch(0.92 0.004 286.32);
    --color-gray-300: oklch(0.871 0.006 286.286);
    --color-gray-400: oklch(0.705 0.015 286.067);
    --color-gray-500: oklch(0.552 0.016 285.938);
    --color-gray-600: oklch(0.442 0.017 285.786);
    --color-gray-700: oklch(0.37 0.013 285.805);
    --color-gray-800: oklch(0.274 0.006 286.033);
    --color-gray-900: oklch(0.21 0.006 285.885);
    --color-gray-950: oklch(0.141 0.005 285.823);
    --color-green-50: #cedddb;
    --color-green-100: #9ebbb6;
    --color-green-200: #6d9892;
    --color-green-300: #3d766d;
    --color-green-400: #0c5449;
    --color-green-500: #0b4a40;
    --color-green-600: #094038;
    --color-green-700: #08352f;
    --color-green-800: #062b27;
    --color-green-900: #05211e;
    --color-gold-50: #fff5d6;
    --color-gold-100: #ffebad;
    --color-gold-200: #ffe085;
    --color-gold-300: #ffd65c;
    --color-gold-400: #ffcc33;
    --color-gold-500: #edbd2c;
    --color-gold-600: #dbae25;
    --color-gold-700: #c89f1f;
    --color-gold-800: #b69018;
    --color-gold-900: #a48111;

    /* Max width custom properties: max-w-(<custom-property>) */
    --max-width-half: 50%;

    /* Spacing custom properties */
    --aspect-3-4: 75%;
    --aspect-16-9: 56.35%;
    --aspect-hero: 36.3%;
    --aspect-full: 100%;
    --aspect-portrait: 133%;
}

/* required if using CSS variables such as --breakpoint-3xl */
@theme inline {
    /* Max width custom properties: max-w-(<custom-property>) */
    --max-width-screen-3xl: var(--breakpoint-3xl);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
