.menu-top {
    @apply m-0 p-0;

    li {
        a {
            @apply text-white;

            &:hover {
                @apply text-gold;
            }
        }

        &:last-child {
            @apply mr-0;
        }

        @media (width >= theme(--breakpoint-mt)) {
            @apply inline-block mx-2 my-0;

            &.selected a {
                @apply text-gold border-b border-solid border-gold;
            }
        }
    }
}

.top_menu_hidden {
    @media (width >= theme(--breakpoint-mt)) {
        @apply hidden;
    }
}
