.breadcrumbs {
    margin-top: 1.3125rem;

    ul {
        margin: 0;
        padding: 0;
        font-size: 0.875rem;

        li {
            display: inline;

            a {
                color: #0c5449;

                &:hover {
                    text-decoration: underline;
                    border-bottom: none;
                }
            }

            &.last {
                color: #0c5449;
                font-weight: bold;
            }
        }
    }

    .first a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .icon-home {
        font-size: 1.2em;
        padding: 0;
        color: #333;
    }
}
