$column-max: 100px;
$column-count: 12;

@layer base {
    :root {
        --column-min: calc(100% / #{$column-count});
    }
}

#component-loop {
    @layer utilities {
        .col-count-2 {
            column-count: 2;
        }

        .break-avoid {
           break-inside: avoid;
        }

        @for $i from 1 through $column-count {
            .colspan-#{$i} {
                width: min(calc(#{$i} * var(--column-min)), #{$i * $column-max});
            }
        }
    }

    hr.row-break {
        @apply my-0 border-0 w-full;
    }
}

// Contain or expand the background if the left menu is present
.component__background {
    @apply absolute inset-0 -z-10; 
}

.layout--full-width {
    .component__background {
        @apply absolute inset-0 -z-10; 
    }
}

.layout--left-menu {
    .component__background {
        @apply block h-full w-full; 
    }
}
