@layer base {
    :root {
        --column-max: 100px;
        --column-min: 8.25%;
    }
}

#component-loop {
    @layer utilities {
        .col-count-2 {
            column-count: 2;
        }

        .break-avoid {
           break-inside: avoid;
        }

        .colspan-1 {
            width: min(calc(1*var(--column-min)), calc(1*var(--column-max)));
        }

        .colspan-2 {
            width: min(calc(2*var(--column-min)), calc(2*var(--column-max)));
        }

        .colspan-3 {
            width: min(calc(3*var(--column-min)), calc(3*var(--column-max)));
        }

        .colspan-4 {
            width: min(calc(4*var(--column-min)), calc(4*var(--column-max)));
        }

        .colspan-5 {
            width: min(calc(5*var(--column-min)), calc(5*var(--column-max)));
        }

        .colspan-6 {
            width: min(calc(6*var(--column-min)), calc(6*var(--column-max)));
        }

        .colspan-7 {
            width: min(calc(7*var(--column-min)), calc(7*var(--column-max)));
        }
        
        .colspan-8 {
            width: min(calc(8*var(--column-min)), calc(8*var(--column-max)));
        }

        .colspan-9 {
            width: min(calc(9*var(--column-min)), calc(9*var(--column-max)));
        }

        .colspan-10 {
            width: min(calc(10*var(--column-min)), calc(10*var(--column-max)));
        }

        .colspan-11 {
            width: min(calc(11*var(--column-min)), calc(11*var(--column-max)));
        }
        
        .colspan-12 {
            width: min(calc(12*var(--column-min)), calc(12*var(--column-max)));
        }
    }

    hr.row-break {
        @apply my-0 border-0 w-full;
    }
}

// Contain or expand the background if the left menu is present
.layout {
    .component__background {
        @apply absolute inset-0 -z-10; 
    }
}

.layout--show-menu {
    .component__background {
        @apply block h-full w-full; 
    }
}
