/* Content Style */
.content {
    // Forces the content area to be full width when the menu is hidden
    @include breakpoint($menu-top-breakpoint down) {
        width: 100%;
        left: 0;
    }

    h1.page-title {
        margin: rem-calc(20) 0 $header-margin-bottom;
    }

    h1:not(.page-title),
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 rem-calc(5) 0;
    }

    h3 {
        font-weight: normal;
    }

    a:not(.button) {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    abbr,
    abbr[title] {
        color: inherit;
        border: none;
        text-decoration: none;
    }

    ul:not([class]),
    ol,
    dl {
        list-style-position: outside;
        margin-left: 2em;
    }

    blockquote {
        padding: 1em;
        background-color: #fff9eb;
        border: none;
        color: #6a6a6a;

        p {
            font-family: "Lato", sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 1.5em;
            color: #6a6a6a;
            margin-bottom: 0;
        }
    }

    table {
        border: none;
        width: 100%;
        margin: 0 0 $paragraph-margin-bottom;

        th,
        td {
            line-height: 1.5;
            text-align: left;
        }

        // Header
        thead tr {
            border-collapse: collapse;

            &,
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                border-bottom: none;
            }

            th {
                text-align: left;
                font-weight: bold;
                padding: 15px 10px;
                background: #00565c;
            }

            th.center-align {
                text-align: center;
            }
        }

        // Body
        tbody tr {
            border-bottom: 1px solid #eaeaea;

            td {
                text-align: left;
                padding: 10px;
                font-size: 14px;
            }

            &:nth-child(odd) {
                background: #f4f4f4;
            }

            &:nth-child(even) {
                background: #fcfcfc;
            }

            &:hover {
                background: #fffbef;
            }
        }

        tbody th {
            padding: 10px;
        }
    }

    img {
        padding: 10px;

        @include breakpoint($menu-top-breakpoint down) {
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 0;

            &[class^="float-"] {
                float: none !important;
            }

            &.icon {
                display: inline-block;
                width: auto;
                margin: 10px;
            }
        }
    }

    figure {
        width: 100%;
        display: table;
        margin: 15px auto;

        @include breakpoint(large) {
            margin: 25px;
            width: auto;
        }

        &[style*="float:right"],
        &.float-right {
            margin-right: 0;
        }

        &[style*="float:left"],
        &.float-left {
            margin-left: 0;
        }

        img {
            padding: 0;
        }

        figcaption {
            padding-top: 0.5em;
            font-size: rem-calc(14);
            font-style: italic;
            font-weight: bold;
            color: #999;
            display: table-caption;
            caption-side: bottom;
        }
    }
}
