.content-area {
    // Forces the content area to be full width when the menu is hidden
    @include breakpoint($menu-top-breakpoint down) {
        width: 100%;
        left: 0;
    }

    *[id]:not([class*="accordion"])::before {
        display: block;
        content: " ";
        margin-top: -$menu-height;
        height: $menu-height;
        visibility: hidden;
    }
}
