.footer-social {
    background-color: #023337;
    padding: 1em 0 0.5em;
    margin-top: 4em;

    @include breakpoint(small) {
        padding: 1.5em 0 1.3em;
    }

    .follow-us {
        display: inline-block;

        h6 {
            display: table-cell;
            vertical-align: middle;
            height: rem-calc(59);
            font-style: italic;
            color: white;
            font-size: rem-calc(18);
            text-transform: uppercase;
            font-weight: 200;
            padding-top: rem-calc(2);
        }
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline;

        @include breakpoint(small) {
            margin-right: 2em;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    li:first-child > span {
        display: table-cell;
        vertical-align: middle;
    }

    a {
        display: inline-block;
        color: #b0c5c3;

        &:hover {
            color: white;
        }
    }

    span {
        display: table-cell;
        vertical-align: middle;
        font-size: rem-calc(22);
        transition-duration: 0.25s, 0.25s;
        transition-property: background;
        transition-timing-function: ease-out, ease-in;
        background: #023337;
        background: rgba(255, 255, 255, 0.1);
        height: rem-calc(40);
        width: rem-calc(40);
        border-radius: 50%;

        &:hover {
            background: #00ab99;
            color: white;
        }

        @include breakpoint(large) {
            font-size: rem-calc(30);
            height: rem-calc(55);
            width: rem-calc(55);
        }
    }
}
