// Set default links to not have underlines since most cases this is what we want
a {
    color: #0c5449;
    text-decoration: none;
}

// Tailwind preflight sets this to .5 which isn't ADA compliant
input::placeholder,
textarea::placeholder {
    opacity: 1;
}

