.main-menu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    // Padding above and below menu
    > ul {
        padding: 1rem 0;
    }

    li {
        font-size: rem-calc(14);
        margin: 0;
        padding: 0;
    }

    li a {
        color: #000;
        display: block;
        padding: 0.6em 0.5em 0.6em 1em;
    }

    li a:hover {
        background: #edeef2;
    }

    // Bottom borders on child <li>
    > ul > li {
        border-bottom: 1px solid #edeef2;
    }

    // Indent each level
    ul > li > ul > li a {
        padding-left: 2em;
    }

    ul > li > ul > li > ul > li a {
        padding-left: 3em;
    }

    ul > li > ul > li > ul > li > ul > li > a {
        padding-left: 4em;
    }

    // Selected State
    .selected {
        font-weight: bold;
    }

    // Don't cascade the selected state to child lists of the item
    .selected ul {
        font-weight: normal;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0;
        padding: 1rem 0 0.1rem;
        color: #167263;
    }
}
