@include breakpoint($menu-top-breakpoint down) {
    // Top level MAIN MENU drop down
    .offcanvas-main-menu {
        display: block;

        ul ul li {
            background-color: $darker-green;
        }

        ul li .main-menu {
            background-color: $darker-green;
            text-transform: uppercase;
            font-size: rem-calc(16);

            &:hover {
                background-color: $darker-green;
            }
        }

        // Menu Header top level (MAIN MENU)
        ul ul {
            border-bottom: 5px solid $darker-green;
        }
    }

    // Offcanvas menu overrides
    .main-menu {
        height: 100%;
        background-color: $menu-top-background;
        padding-left: 0;
        padding-right: 0;

        h2 {
            color: rgba(255, 255, 255, 0.9);
            padding: 0 0 5px 15px;
            margin-top: 32px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        // Selected State
        .selected > a {
            color: #ffd969;
        }

        ul {
            background-color: #113f39;
            padding: 0;

            li a {
                color: rgba(255, 255, 255, 0.9);
            }

            a:hover,
            .selected a:hover {
                background: transparent;
                color: #ffd969;
            }

            // Indent second level now since first level is shown
            li > ul > li a {
                padding-left: 2em;
            }

            // Indent third level now since first level is shown
            li > ul > li > ul > li a {
                padding-left: 3em;
            }
        }
    }

    .expand-icons {
        float: right;
        font-size: rem-calc(24);
        display: flex;
    }
}

// Hide the main menu toggle when necessary
@include breakpoint($menu-top-breakpoint up) {
    .offcanvas-main-menu {
        display: none;
    }
}

// Disable a CSS transition temporarily
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
