// Buffer for anchor tags
.content *[id]:not([class*="accordion"])::before {
    display: block;
    content: " ";
    margin-top: -$menu-height;
    height: $menu-height;
    visibility: hidden;
}

.menu-top-container {
    height: $menu-height;

    .row,
    .column {
        height: 100%;
    }

    &.menu-top-bg {
        background: $menu-top-background;
    }

    // Center vertically
    .vertical-centering {
        display: inline-block;
        height: 100%;

        > * {
            display: table;
            height: 100%;
        }

        > * > *:not(.hide-for-menu-top-up, .show-for-menu-top-up) {
            display: table-cell;
            vertical-align: middle;
        }

        &.title-area {
            @include breakpoint(medium down) {
                width: 75%;
            }
        }
    }

    // Remove when Foundation.Sticky is working correctly
    &.sticky {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 5;
    }

    h1 {
        color: $white;
        display: inline-block;
        font-size: rem-calc(26);
        font-weight: normal;
        line-height: 1em;
        margin: 0;
        padding-bottom: rem-calc(4);

        a {
            color: $white;
        }

        // Sub title
        span {
            display: block;
            font-size: 0.65em;
        }
    }

    ul.menu-top {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                color: white;
                display: block;
                padding: 0 rem-calc(20);
                font-size: $menu-top-font-size;

                &:hover {
                    color: #ffd478;
                }
                // Remove padding on first link
                // So it lines up on the left
                &:first-child {
                    padding-left: 0;
                }
            }

            &.selected a {
                color: #fc3;
            }
        }

        // Vertically center menu button on small
        &.menu-button {
            line-height: 0;
        }

        .menu-toggle {
            padding: 0;
            font-size: 2em;

            // Hide the menu text
            span {
                display: none;
            }
        }

        .icon-cancel-1::before {
            text-align: right;
        }
    }
}

// Show the main menu based on a custom breakpoint
.show-for-menu-top-up {
    display: none;

    @include breakpoint($menu-top-breakpoint) {
        // Center vertically
        display: table-cell;
    }
}

// Hide the main menu based on a custom breakpoint
.hide-for-menu-top-up {
    // Center vertically
    display: table-cell;

    @include breakpoint($menu-top-breakpoint) {
        display: none;
    }
}

// special case for off canvas menu item Giving not to use table-cell property, so goes full width on off canvas
li.hide-for-menu-top-up {
    display: block;
}

#top-menu .menu-top {
    @include breakpoint($menu-top-breakpoint down) {
        // Animation for menu fade in
        animation: fadein 1s;

        // Delay animation for a bit so menu flash doesn't occur on faster 3g and up
        @keyframes fadein {
            0% {
                opacity: 0;
                height: 0;
            }

            90% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                height: 100%;
            }
        }
    }
}
