@include breakpoint($menu-top-breakpoint down) {
    // Show the main menu toggle
    .offcanvas-main-menu {
        display: block;
    }

    // Offcanvas menu overrides
    .main-menu {
        // Makes menu background color go all the way down the column
        height: 100%;
        //background-color: #262626;
        background-color: darken(#093f39, 3%);
        padding-left: 0;
        padding-right: 0;

        h2 {
            color: rgba(255, 255, 255, 0.7);
            padding: 0 0 5px 16px;
            margin-top: 32px;
            border-bottom: 1px solid darken(#093f39, 4%);
        }

        // Selected State
        .selected > a {
            text-decoration: underline;
            //background-color: lighten(#093f39, 3%);
            color: #fff;
        }

        .selected a {
            background-color: lighten(#093f39, 2%);
        }

        .selected .selected a {
            background-color: lighten(#093f39, 5%);
        }

        .selected .selected .selected a {
            //background-color: lighten(#093f39, 9%);
        }

        // Bottom borders on child <li>
        > ul > li {
            border-bottom: 1px solid darken(#093f39, 4%);
        }

        ul {
            padding: 0;

            li a {
                color: rgba(255, 255, 255, 0.7);
            }

            a:hover,
            .selected a:hover {
                //background-color: lighten(#262626, 10%);
                background-color: lighten(#093f39, 7%);
                color: #fff;
            }

            // Indent second level now since first level is shown
            li > ul > li a {
                padding-left: 2em;
            }

            // Indent third level now since first level is shown
            li > ul > li > ul > li a {
                padding-left: 3em;
            }
        }
    }

    .expand-icons {
        float: right;
        font-size: rem-calc(24);
        display: flex;
    }

    // Top level MAIN MENU dropdown on top
    .offcanvas-main-menu {
        ul li {
            a.main-menu {
                display: block;
                //color: rgba(255, 255, 255, 0.7);
                //background-color: darken(#093f39, 5%);
                border-bottom: 1px solid darken(#093f39, 4%);
                padding: 0.8em;
                text-transform: uppercase;
                font-size: rem-calc(16);

                &:hover {
                    //color: #ffd75d;
                }

                &.selected {
                    //color: #ffd75d;
                }
            }

            // Menu Header top level (MAIN MENU)
            ul {
                border-bottom: 1px solid darken(#093f39, 4%);

                li a {
                    //background-color: #000;
                    border-bottom: none;

                    &:hover {
                        //color: #ffd75d;
                    }
                }

                li.selected a {
                    //color: #ffd75d;
                    font-weight: bold;
                }
            }
        }
    }
}

// Hide the main menu toggle when necessary
@include breakpoint($menu-top-breakpoint up) {
    .offcanvas-main-menu {
        display: none;
    }
}

// Disable a CSS transition temporarily
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
