// Listing and individual pages
.news-listing time,
.news-item time {
    display: block;
    font-size: 0.875rem;
    font-style: normal;
    color: #707070;
    margin-bottom: 0.4em;
}

.news-listing p,
.news-item p {
    margin-bottom: 0.4em;
}

// Listing page only
.news-listing {
    dl {
        margin-left: 0;
    }

    dl dd {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 0.5em;
        margin-left: 0;
        list-style-type: none;
    }

    dl dt {
        font-size: 1rem;
        font-weight: 500;

        &:first-child {
            margin-top: 0.1rem;
        }
    }
}
