.page-menu {
    margin-top: 1.5rem;
    padding-inline: 'max(1rem, (100% - 73rem) / 2)';

    @screen mt {
        width: 20rem;
    }

    .main-menu {
        margin-bottom: 0.5rem;
    }

    .main-menu-toggle {
        display: block;
        padding-block: 0.5rem;
        padding-inline: 0.75rem;
    }

    .slideout-main-menu {
        @screen mt {
            display: none;
        }
    }
}
