.profile__return {
    position: relative;

    a {
        text-align: right;
        padding: 0.3em 0;
        position: absolute;
        right: 0.9375rem;
    }
}

.profile__img {
    display: block;
    width: auto;
    height: 270px;
    margin: 2.5rem auto 1em;
    padding: 0;

    // Large up
    @media screen and (min-width: 48.75em) {
        margin-top: 1.25rem;
        width: 100%;
        height: auto;
    }
}

.profile--contact-info {
    margin-bottom: 2em;

    p {
        margin: 0.5em 0;
    }
}
