.rotate,
.rotate_arrows {
    margin-bottom: 0;
}

.overlay-arrows {
    .slick-next {
        z-index: 4;
        right: 15px;
        height: 40px;
        width: 40px;

        &::before {
            font-size: 40px;
        }
    }

    .slick-prev {
        z-index: 4;
        left: 15px;
        height: 40px;
        width: 40px;

        &::before {
            font-size: 40px;
        }
    }
}
