.visuallyhidden,
.rotate_arrows .slick-dots {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: #fff;
    color: #000;
    font-size: 16px !important;
}

.position-relative {
    position: relative;
}

.menu-delay {
    // Animation for menu fade in
    animation: fadein 1s;

    // Delay animation for a bit so menu flash doesn't occur on faster 3g and up
    @keyframes fadein {
        0% {
            opacity: 0;
            height: 0;
        }

        90% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            height: 100%;
        }
    }
}
