.content {
    ul.accordion {
        margin-left: 0;
    }

    a.accordion-title {
        text-decoration: none;
        font-size: $global-font-size;
        font-weight: bold;
    }

    .accordion-content p:last-of-type {
        margin-bottom: 0;
    }
}
