.accordion.enabled {
    padding: 0;
    margin-bottom: 1rem;
    position: relative;
    list-style: none;

    @apply .bg-grey-lighter;

    & > li {
        width: 100%;
        position: absolute;

        > a {
            cursor: pointer;
            user-select: none;
            position: relative;
            display: block;
            padding: 1.25rem 1rem;
            border: 1px solid #d5d5d5;
            border-bottom: 0;
            line-height: 1;
            text-decoration: none;
            font-weight: bold;

            &:first-child:hover,
            &:first-child:focus, {
                @apply .bg-grey-light;
            }

            // Open symbol
            &::before {
                position: absolute;
                top: 50%;
                right: 1rem;
                margin-top: -0.5rem;
                content: '+';
            }
        }

        // Close symbol
        &.open > a::before {
            content: '\2013';
        }

        // Content area
        > .fold {
            @apply .bg-white;

            padding: 1rem;
            border: 1px solid #d5d5d5;
            border-top: none;
        }
    }

    > * {
        overflow: hidden;
        padding: 0;
        margin: 0;
        transition: 0.3s ease all;
    }
}
