.accordion.enabled {
    @apply p-0 mb-4 ml-0 relative;

    & > li {
        @apply border border-solid border-grey w-full absolute border-b-0;

        &:last-child {
            @apply border-b;
        }

        > a {
            @apply bg-grey-lighter relative block p-4 pr-8 font-bold border-b-0 no-underline;

            cursor: pointer;
            user-select: none;

            &:first-child:hover,
            &:first-child:focus, {
                @apply bg-grey-darker text-white;
            }

            // Open symbol
            & span::before {
                @apply absolute right-0 pr-4 top-0 pt-4;

                content: '+';
            }
        }

        // Close symbol
        &.open > a span::before {
            content: '\2013';
        }

        // Content area
        > .fold {
            @apply bg-white p-4 border-t-0;
        }
    }

    > * {
        @apply overflow-hidden p-0 m-0;

        transition: 0.3s ease all;
    }
}
