.banner {
    @apply absolute hidden mt:flex z-40 bg-gold text-green-800 hover:text-green-900 items-center justify-center mr-4 right-0 pt-0 duration-500;

    transition-property: height, padding;
    width: 140px;
    height: 30px;

    // Pointy bottom
    &::after {
        @apply border-gold absolute duration-500;

        transition-property: top;
        border-left-color: transparent;
        border-right-color: transparent;
        border-style: solid;
        border-width: 12px 70px 0;
        top: 30px;
        content: "";
        left: 0;
    }

    &:hover {
        @apply duration-500;

        transition-property: height, padding;
        height: 38px;
        padding-top: 8px;

        &::after {
            top: 38px;
        }
    }

    &__title {
        @apply uppercase text-sm tracking-wide pt-1.5 pt-1;
    }

    &__excerpt {
        @apply normal-case text-xl italic font-serif pt-0.5 pl-1;
    }
}
