// Swiper specific styles
.swiper {
    width: 100%;
}

// Swiper navigation buttons
.swiper-button-next,
.swiper-button-prev {
    @apply bg-transparent transition-colors w-16 h-16;

    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 25%)) drop-shadow(0 1px 1px rgb(0 0 0 / 25%));

    &:hover {
        @apply rounded-full bg-green-600/70;
    }

    .swiper-button-icon {
        @apply text-white fill-current mix-blend-normal;
    }

    /*
    &:hover {
        background: none;
    }

    &::after {
        @apply text-white;

        font-size: 24px;
    }
     */
}

.swiper-button-next {
    transform: rotate(180deg);
}

/*
.swiper-button-next {
    .swiper-button-icon {
        left: 40%;
    }

    &::after {
        margin-left: 2px;
    }
}

.swiper-button-prev {
    .swiper-button-icon {
        left: 0;
    }

    &::after {
        margin-right: 2px;
    }
}
 */

// Swiper pagination bullets
.swiper-pagination-bullet {
    background: rgb(255 255 255 / 50%);

    &.swiper-pagination-bullet-active {
        background: white;
    }
}
