// Contact footer content
footer .content a {
    @apply .text-white;
}

// Content returning from CMS
.content {
    ul {
        list-style-type: disc;

        @apply .ml-8;
    }

    ol {
        list-style-type: decimal;

        @apply .ml-8;
    }

    hr {
        @apply .border-b .border-solid .border-grey-lighter .my-5;
    }

    p,
    dl,
    ol,
    ul {
        @apply .mb-5;
    }

    abbr,
    abbr[title] {
        @apply .no-underline;
    }

    blockquote {
        @apply .pt-6 .pb-2 .pl-16 .pr-6 .my-8 .text-xl .text-black .relative .bg-transparent .flex;

        @screen mt {
            @apply .text-2xl;
        }

        &::before {
            @apply .absolute .inset-0 .mt-4 .leading-none .text-grey-lighter .pr-1 .font-serif;

            content: '\201C'; // Double quote
            font-size: 85pt;
        }
    }

    // Images remain at their specified width
    // Text appears above and below for small
    @media (max-width: theme('screens.mt')) {
        img,
        figure {
            @apply .block .my-0 .mx-auto;

            &[style*="float:right"],
            &[style*="float:left"] {
                float: none !important;
            }
        }
    }

    // Floated images can only be 50% of column width for readability
    @screen mt {
        img {
            &[style*="float:right"],
            &[style*="float:left"] {
                padding: 0 !important;
            }

            &[style*="float:right"] {
                @apply .ml-6 .my-2 .max-w-half;
            }

            &[style*="float:left"] {
                @apply .mr-6 .my-2 .max-w-half;
            }
        }
    }

    figure {
        @apply .mt-2 .mb-4 .mx-auto;

        // Overriding display: inline-block; from CKEditor
        // so that the caption wraps appropriately
        display: table !important;

        img {
            padding: 0 !important;
        }

        figcaption {
            @apply .text-sm .text-grey-darker .text-left;

            display: table-caption;
            caption-side: bottom;
        }

        @screen mt {
            @apply .w-auto .mb-4;

            &[style*="float:right"],
            &.float-right {
                @apply .ml-6 .max-w-half;
            }

            &[style*="float:left"],
            &.float-left {
                @apply .mr-6 .max-w-half;
            }

            &[style*="text:center"],
            &.text-center {
                @apply .ml-auto .mr-auto;
            }
        }
    }

    table {
        @apply .border-collapse .w-full .mb-4 .text-left;

        thead tr {
            @apply .border .border-solid .border-green-dark;

            th {
                @apply .bg-green-dark .font-bold .px-4 .py-3 .text-white .leading-none;
            }

            a {
                @apply .text-white;
            }
        }

        tbody tr {
            @apply .border .border-grey-light .border-t-0 .border-solid .align-top;

            td {
                @apply .text-sm .px-4 .py-2;
            }

            &:nth-child(odd) {
                @apply .bg-grey-lighter;
            }

            &:nth-child(even) {
                @apply .bg-grey-lightest;
            }

            &:hover {
                @apply .bg-yellow-lightest;
            }
        }
    }

    // All content links
    a:not(.button) {
        @apply .underline;

        &:hover {
            @apply .no-underline;
        }
    }
}
