// Content returning from CMS
.content {
    ul {
        @apply ml-8 list-disc;
    }

    ol {
        @apply ml-8 list-decimal;
    }

    hr {
        @apply border-b border-solid border-gray-200 my-5;
    }

    p,
    dl,
    & > ol,
    & > ul {
        @apply mb-5;
    }

    abbr,
    abbr[title] {
        @apply no-underline;
    }

    blockquote {
        @apply ml-8 my-8 border-l-4 border-gray-400 pl-4 pt-2 pb-1;

        > *:last-child {
            @apply mb-2;
        }

        cite {
            @apply block mb-4;
        }
    }

    // Tailwind preflight sets images to block
    img {
        @apply inline;
    }

    // Images remain at their specified width
    // Text appears above and below for small
    @media (max-width: theme('screens.mt')) {
        img,
        figure {
            @apply block my-0 mx-auto;

            &[style*="float:right"],
            &[style*="float:left"],
            &.float-right,
            &.float-left {
                float: none !important;
            }
        }
    }

    // Floated images can only be 50% of column width for readability
    @screen mt {
        img {
            &[style*="float:right"],
            &[style*="float:left"] {
                padding: 0 !important;
            }

            &[style*="float:right"] {
                @apply ml-6 my-2 max-w-half;
            }

            &[style*="float:left"] {
                @apply mr-6 my-2 max-w-half;
            }
        }
    }

    figure {
        @apply mt-2 mb-4 mx-auto;

        // Overriding display: inline-block; from CKEditor
        // so that the caption wraps appropriately
        display: table !important;
        padding: 0 !important;
        clear: both;

        img {
            padding: 0 !important;
        }

        figcaption {
            @apply text-sm text-gray-500 text-left;

            display: table-caption;
            caption-side: bottom;
        }

        @screen mt {
            @apply w-auto mb-4;

            &[style*="float:right"],
            &.float-right {
                @apply ml-6 max-w-half;
            }

            &[style*="float:left"],
            &.float-left {
                @apply mr-6 max-w-half;
            }

            &[style*="text:center"],
            &.text-center {
                @apply ml-auto mr-auto;
            }
        }
    }

    table {
        @apply border-collapse w-full mb-4 text-left;

        thead tr {
            @apply border border-solid border-green-600;

            th {
                @apply bg-green-600 font-bold px-4 py-3 text-white leading-none;
            }

            a {
                @apply text-white;
            }
        }

        tbody tr {
            @apply border border-gray-300 border-t-0 border-solid align-top;

            td {
                @apply text-sm px-4 py-2;
            }

            &:nth-child(odd) {
                @apply bg-gray-200;
            }

            &:nth-child(even) {
                @apply bg-gray-100;
            }

            &:hover {
                @apply bg-gold-50;
            }
        }
    }

    // All content links
    a:not(.button, .content-button) {
        @apply underline;

        &:hover {
            @apply no-underline;
        }
    }
}
