// Content returning from CMS
.content {
    ul {
        @apply list-disc;
    }

    ul ul {
        @apply list-circle;
    }

    ul ul ul {
        @apply list-square;
    }

    ol {
        @apply list-decimal;
    }

    ol ol {
        @apply list-lower-alpha;
    }

    ol ol ol {
        @apply list-lower-roman;
    }

    li {
        @apply mb-1;
    }

    dl dt:not([class*='font-']) {
        @apply font-bold;
    }

    dl dd:not([class*='mb-']) {
        @apply mb-3;
    }

    ol:not([class*='ml-']),
    ul:not([class*='ml-']) {
        @apply ml-8;
    }

    ol:not([class*='mb-']),
    ul:not([class*='mb-']) {
        @apply mb-4;
    }

    ul.list-none,
    ul.list-none ul {
        list-style-type: none;
    }

    ol:first-of-type:not([class*='mb-']),
    ul:first-of-type:not([class*='mb-']) {
        @apply mb-0;
    }

    // Tailwind preflight sets images to block
    img {
        @apply inline;
    }

    // TODO wtf stylelint
    // Do not rearrange any of this link and heading link css
    // Underline all content links
    a {
        @apply underline;
    }

    // Bottom border instead of underline all heading links
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            @apply no-underline border-b border-green;
        }
        // Prevent users from having gold text
        &.text-gold {
            @apply text-black;
        }
    }

    a:hover,
    a:focus {
        @apply no-underline;
    }

    h1 a:hover,
    h1 a:focus,
    h2 a:hover,
    h2 a:focus,
    h3 a:hover,
    h3 a:focus,
    h4 a:hover,
    h4 a:focus,
    h5 a:hover,
    h5 a:focus,
    h6 a:hover,
    h6 a:focus {
        @apply border-0;
    }

    blockquote {
        @apply border-l-12 border-gold mx-4 xl:mx-auto my-8 py-4 pl-8 xl:w-4/5;

        p {
            @apply text-lg xl:text-xl text-green-700;
        }

        > *:last-child {
            @apply mb-2;
        }

        cite {
            @apply block mb-4 text-green-700 not-italic;
        }
    }
}
