.formy {
    .row {
        @apply .flex .flex-wrap;
    }

    .columns {
        @apply .w-full;

        @screen md {
            @apply .pr-4;
        }
    }

    @screen md {
        .xlarge-4 {
            @apply .w-1/3;
        }

        .large-8 {
            @apply .w-2/3;
        }
    }

    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        @apply .border-grey .border-solid .border;

        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 2.4375rem;
        margin: 0 0 1rem;
        padding: 0.5rem;
        border-radius: 0;
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        font-size: 1rem;
        font-weight: normal;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
        appearance: none;
    }

    [type='file'] {
        width: 100%;
        margin: 0 0 1rem;
    }

    [type='checkbox'] + label[for],
    [type='radio'] + label[for] {
        cursor: pointer;
    }

    select {
        @apply .border-grey .border-solid .border .bg-white;

        height: 2.4375rem;
        width: 100%;
        margin: 0 0 1rem;
        padding: 0.5rem;
        appearance: none;
        border-radius: 0;
        font-size: 1rem;
        line-height: normal;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
        background-origin: content-box;
        background-position: right -1rem center;
        background-repeat: no-repeat;
        background-size: 9px 6px;
        padding-right: 1.5rem;
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    }

    // Fieldsets
    fieldset {
        margin: 0;
        padding: 0;
        border: none;

        legend {
            display: none;
        }
    }

    // Textareas
    textarea {
        height: 8em;
    }

    // Description and text blocks size
    p {
        font-size: 1em;
        line-height: 1.6em;
        margin-bottom: 1rem;
    }

    // Errors
    .error {
        p {
            @apply .text-red;

            margin: 4px auto 10px;
            font-size: 0.8em;
        }

        input,
        textarea,
        select {
            @apply .border-red-light .border .bg-red-lightest;

            margin-bottom: 0;
        }

        .checkbox,
        .radio {
            @apply .bg-red-lightest;

            padding-bottom: 0;
        }
    }

    // Labels
    label {
        color: inherit;
        font-size: 1em;

        a {
            text-decoration: underline;
        }
    }

    // Checkboxes and radio
    div.checkbox input,
    div.radio input {
        margin: 0;
        padding: 0;
    }

    div.checkbox,
    div.radio {
        margin: 0;
        padding: 0 0 15px;
        border: 0;
        float: none;
    }

    div.checkbox div,
    div.radio div {
        border: 0;
        margin: 4px 0 0;
    }

    div.checkbox label,
    div.radio label {
        float: none;
        display: inline;
        margin-left: 5px;
    }

    div.checkbox input[type=checkbox],
    div.radio input[type=radio] {
        margin-bottom: 0;
    }

    // The subit button
    #formy-button {
        @apply .bg-grey-darker .text-white;

        border-radius: 0;
        font-size: 0.75rem;
    }

    .select #country,
    .select #state {
        width: 100%;
    }

    // Text Headings
    h2,
    .field_group h2 {
        @apply .border-b .border-grey-light;

        font-size: 1.3em;
    }

    // Login
    .login-info li {
        @apply .border-b .border-solid .border-grey;

        font-size: 0.9em;
        padding: 5px 0;
    }

    .login-info ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .formy_logout a,
    .login-info p a,
    .login-info ul li a {
        @apply .text-green .underline .border-b-0;

        &:hover {
            text-decoration: none;
            border-bottom: none;
        }
    }

    .formy_logout {
        text-align: right;
    }

    // Required
    label em {
        @apply .text-red;
    }
}
