table {
    @apply text-left mb-4 w-full;

    &:not([class]),
    &.table-sort {
        @apply block overflow-x-scroll border-collapse;
    }

    @screen mt {
        &:not([class]),
        &.table-sort {
            @apply table;
        }
    }

    caption {
        @apply text-left pb-2;

        min-width: calc(100vw - 2rem);
    }

    @screen mt {
        caption {
            min-width: auto;
        }
    }

    tr {
        @apply align-top border-b;

        &:nth-child(even) {
            /* @apply bg-gray-100; */
        }

        &:nth-child(odd) {
            /* @apply bg-white; */
        }
    }

    &.no-stripe tr {
        @apply bg-white;
    }

    th {
        @apply bg-gray-100 font-bold px-4 py-3 text-green-600 leading-none border-b border-b-gray-300;
    }

    td {
        @apply text-sm px-4 py-2;
    }
}

.table-sort {
    th {
        padding: 0;
        height: 1px; /* Allow 100% height buttons */
        border: none;
    }

    thead tr {
        height: 100%;
    }

    /* Button Header */
    th button {
        @apply px-4 py-2;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 3rem;
        background: transparent;
        border: none;
        font-size: inherit;
        text-align: left;
        cursor: pointer;
        box-sizing: border-box;
    }

    /* Non sortable heading */
    th.no-sort {
        @apply px-4 py-2;

        display: flex;
        align-items: center;
        min-height: 3rem;
        height: 100%;
        box-sizing: border-box;
    }

    /* Icon Sizing */
    th button span {
        display: inline-flex;
        min-width: 1.2em;
        margin-left: 5px;
        flex-shrink: 0;
    }

    /* Descending arrow icon */
    th[aria-sort="descending"] button span::after {
        content: "▼";
        color: currentcolor;
        font-size: 100%;
    }

    /* Ascending arrow icon */
    th[aria-sort="ascending"] button span::after {
        content: "▲";
        color: currentcolor;
        font-size: 100%;
    }

    /* Unsorted diamond icon  */
    &.show-unsorted-icon th:not([aria-sort]) button span::after {
        content: "♢";
        color: currentcolor;
        font-size: 100%;
        line-height: 1;
    }

    /* Hover/Focus arrow icon */
    th:not([aria-sort]) button:focus span::after,
    th:not([aria-sort]) button:hover span::after {
        content: "▼";
        color: currentcolor;
    }

    /* Interaction Backgrounds */
    th button:focus,
    th button:hover {
        @apply outline outline-2 outline-offset-[-2px];

        background-color: #e5f4ff;
    }
}

.table-stack {
    @media (max-width: theme('screens.md')) {
        @apply w-full;

        /* Hide table head */
        thead tr {
            @apply absolute;

            top: -9999em;
            left: -9999em;
        }

        tbody tr {
            @apply block mb-2 py-2 align-top border-t border-gray-300 rounded;
        }

        tbody td {
            @apply flex px-4 pt-0 pb-1 my-2;
        }

        /* Add data labels */
        td::before {
            @apply block font-bold pr-1.5;

            content: attr(data-label) ":";
        }
    }
}
