// Restricts the embedded font from combining two characters like "fi"
html {
    font-feature-settings: "liga" 0;
}

// Set default links to not have underlines since most cases this is what we want
a {
    @apply .text-green .no-underline;
}

@responsive {
    .white-links a:not(.button) {
        @apply .text-white .underline;

        &:hover {
            @apply .no-underline;
        }

        @screen print {
            @apply .text-black;
        }
    }
}

// Tailwind preflight sets this to .5 which isn't ADA compliant
input::placeholder,
textarea::placeholder {
    @apply .opacity-100 .text-grey-darker;
}

// Global headings
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply .font-bold .mb-4 .leading-tight;

    text-rendering: optimizeLegibility;
}

h1 {
    @apply .text-4xl;
}

h2 {
    @apply .text-3xl;
}

h3 {
    @apply .text-2xl;
}

h4 {
    @apply .text-xl;
}

h5 {
    @apply .text-lg;
}

h6 {
    @apply .text-sm;
}

// Firefox uses the outline focus color as the text color. Since our overall background is white we need to change it.
a.text-white:-moz-focusring {
    outline-color: #000;
}

// Global print styles
@screen print {
    .content a[href]::after {
        @apply .text-sm .font-normal;

        content: " (" attr(href) ") ";
    }
}
