table {
    @apply text-left mb-4 w-full;

    &:not([class]),
    &.table-sort {
        @apply block overflow-x-scroll border-collapse;
    }

    @screen mt {
        &:not([class]),
        &.table-sort {
            @apply table;
        }
    }

    caption {
        @apply text-left pb-2;

        min-width: calc(100vw - 2rem);
    }

    @screen mt {
        caption {
            min-width: auto;
        }
    }

    tr {
        @apply align-top border-b;

        &:nth-child(even) {
            /* @apply bg-gray-100; */
        }

        &:nth-child(odd) {
            /* @apply bg-white; */
        }
    }

    &.no-stripe tr {
        @apply bg-white;
    }

    th {
        @apply bg-gray-100 font-bold px-4 py-3 text-green-600 leading-none border-b border-b-gray-300;
    }

    td {
        @apply text-sm px-4 py-2;
    }
}

.table-sort {
    .sr-only {
        position: absolute;
        top: -30em;
    }

    th {
        font-weight: bold;
        position: relative;
        padding: 0;
    }

    th.no-sort {
        @apply px-4 py-3;
    }

    th button {
        @apply px-4 py-3;

        font-size: 100%;
        font-weight: bold;
        background: transparent;
        border: none;
        display: block;
        inset: 0;
        width: 100%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    th button span {
        position: absolute;
        right: 8px;
    }

    th[aria-sort="descending"] span::after {
        content: "▼";
        color: currentcolor;
        font-size: 100%;
        top: 0;
    }

    th[aria-sort="ascending"] span::after {
        content: "▲";
        color: currentcolor;
        font-size: 100%;
        top: 0;
    }

    .show-unsorted-icon th:not([aria-sort]) button span::after {
        content: "♢";
        color: currentcolor;
        font-size: 100%;
        position: relative;
        top: -3px;
        left: -4px;
    }

    td.num {
        text-align: right;
    }

    /* Focus and hover styling */
    th button:focus,
    th button:hover {
        @apply outline outline-2 outline-offset-[-2px];

        background-color: #e5f4ff;
    }

    th button:focus span,
    th button:hover span {
        right: 8px;
    }

    th:not([aria-sort]) button:focus span::after,
    th:not([aria-sort]) button:hover span::after {
        content: "▼";
        color: currentcolor;
        font-size: 100%;
        top: 0;
    }
}

.table-stack {
    @media (max-width: theme('screens.md')) {
        @apply w-full;

        /* Hide table head */
        thead tr {
            @apply absolute;

            top: -9999em;
            left: -9999em;
        }

        tbody tr {
            @apply block mb-2 py-2 align-top border-t border-gray-300 rounded;
        }

        tbody td {
            @apply flex px-4 pt-0 pb-1 my-2;
        }

        /* Add data labels */
        td::before {
            @apply block font-bold pr-1.5;

            content: attr(data-label) ":";
        }
    }
}
