// Restricts the embedded font from combining two characters like "fi"
html {
    font-feature-settings: "liga" 0;
    text-rendering: optimizeLegibility;
}

body {
    @apply min-h-screen flex flex-col;
}

// Links outside of content aren't underlined
a {
    @apply text-green no-underline;
}

@responsive {
    .white-links a {
        @apply text-white underline;

        &:hover {
            @apply no-underline;
        }
    }
}

p {
    @apply mb-4;
}

// Tailwind preflight sets this to .5 which isn't ADA compliant
input::placeholder,
textarea::placeholder {
    @apply opacity-100 text-gray-500;
}

// Global headings
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}

h1 {
    @apply text-4xl mb-2;
}

h2 {
    @apply text-3xl mb-1;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

// Heading styles
.divider-gold {
    @apply relative overflow-hidden mb-2;

    &::after {
        content: "";

        @apply absolute inline w-full h-0.5 ml-4 top-1/2 bottom-auto bg-gold;
    }
}

.divider-green {
    @apply relative overflow-hidden mb-2;

    &::after {
        content: "";

        @apply absolute inline w-full h-0.5 ml-4 top-1/2 bottom-auto bg-green;
    }
}

.bar-gold {
    @apply relative mb-2 pl-3;

    &::before {
        content: "";

        @apply absolute h-full w-1 left-0 bg-gold ;
    }
}

.bar-green {
    @apply relative mb-2 pl-3;

    &::before {
        content: "";

        @apply absolute h-full w-1 left-0 bg-green ;
    }
}

hr {
    @apply border-b border-solid border-gray-200 my-5;
}

// mobile make table display block and scroll

table {
    @apply border-collapse w-full mb-4 text-left;

    caption {
        @apply text-left pb-2;
    }

    thead tr {
        @apply border border-solid border-green-600;

        th {
            @apply bg-green-600 font-bold px-4 py-3 text-white leading-none;
        }

        a {
            @apply text-white;
        }
    }

    tbody tr {
        @apply border border-gray-300 border-t-0 border-solid align-top;

        td {
            @apply text-sm px-4 py-2;
        }

        &:nth-child(odd) {
            @apply bg-gray-200;
        }

        &:nth-child(even) {
            @apply bg-gray-100;
        }

        &:hover {
            @apply bg-gold-50;
        }
    }
}

blockquote {
    @apply ml-8 my-8 border-l-4 border-gray-400 pl-4 pt-2 pb-1;

    > *:last-child {
        @apply mb-2;
    }

    cite {
        @apply block mb-4;
    }
}

figure {
    @apply mt-2 mb-4 mx-auto;

    // Overriding display: inline-block; from CKEditor
    // so that the caption wraps appropriately
    display: table !important;
    padding: 0 !important;
    clear: both;

    img {
        padding: 0 !important;
    }

    figcaption {
        @apply text-sm text-gray-500 text-left;

        display: table-caption;
        caption-side: bottom;
    }

    @screen mt {
        @apply w-auto mb-4;

        &[style*="float:right"],
        &.float-right {
            @apply ml-6 max-w-half;
        }

        &[style*="float:left"],
        &.float-left {
            @apply mr-6 max-w-half;
        }

        &[style*="text:center"],
        &.text-center {
            @apply ml-auto mr-auto;
        }
    }
}

// Images remain at their specified width
// Text appears above and below for small
@media (max-width: theme('screens.mt')) {
    figure {
        @apply block my-0 mx-auto;

        &[style*="float:right"],
        &[style*="float:left"],
        &.float-right,
        &.float-left {
            float: none !important;
        }
    }
}

// Floated images can only be 50% of column width for readability
@screen mt {
    img {
        &[style*="float:right"],
        &[style*="float:left"] {
            padding: 0 !important;
        }

        &[style*="float:right"] {
            @apply ml-6 my-2 max-w-half;
        }

        &[style*="float:left"] {
            @apply mr-6 my-2 max-w-half;
        }
    }
}

// Firefox uses the outline focus color as the text color. Since our overall background is white we need to change it.
a.text-white:-moz-focusring {
    outline-color: #000;
}

code {
    @apply bg-gray-200 py-1 px-2 rounded text-sm;
}

.code-block {
    @apply bg-gray-100 overflow-scroll px-4 text-sm mb-8;
}

footer {
    @apply mt-auto;
}
