.hero {
    &__image {
        background-size: cover;
        background-position: center top;
        padding-top: 36.3%;

        @include breakpoint(xlarge up) {
            height: 36.3vw;
            max-height: 550px;
            margin: 0;
            padding: 0;
        }
    }

    &--childpage {
        margin-left: -15px;
        margin-right: -15px;

        @include breakpoint(offcanvas up) {
            margin: 0;
        }

        .hero__image {
            padding-top: 36.3%;
            height: auto;
        }
    }
}
