.hero {
    $c: &;
    @apply relative max-w-full;

    &--full-width {
        @apply mx-auto;
    }

    &--contained {
        @apply xl:mx-container;
    }

    &__carousel-item {
        /* Flickity applies absolute to this container when enabled */
        @apply w-full aspect-hero; 
    }

    #{$c}__primary-image {
        @apply w-full h-full object-cover object-center;
    }

    &--slim {
        @apply h-hero-small max-h-hero-small;

        #{$c}__primary-image {
            @apply w-full h-full object-cover object-center;
        }
    }

    /* TODO logo overlay 
    &--variable-height {
    }
    */

    &--large {
        #{$c}__content {
            @apply hidden;
        }
    }

    &--svg {
        #{$c}__secondary-image {
            //svg overlay
            @apply absolute inset-0;
        }

        #{$c}__content {
            @apply hidden;
        }
    }

    &--overlay {
        #{$c}__primary-image {
            @apply aspect-hero max-h-hero;
        }

        #{$c}__secondary-image {
            //svg overlay
            @apply absolute inset-0;
        }

        #{$c}__content {
            @apply mt-4 py-1 px-4 border-l-12 border-gold border-solid text-green-900;
            @apply lg:px-container lg:absolute lg:bottom-0 lg:inset-x-0 lg:pt-28 lg:pb-6;
            @apply lg:mt-0 lg:border-0 lg:text-white lg:white-links;
            @apply lg:bg-gradient-darkest;
        }

        #{$c}__title {
            @apply lg:drop-shadow-px leading-tight text-3xl lg:text-5xl font-bold mb-2;
        }

        #{$c}__description {
            @apply relative text-lg content;
        }

        #{$c}__buttons {
            @apply relative mt-5;

            .button {
                @apply text-lg;
            }
        }
    }

    &--split {
        @apply relative xl:flex items-center;

        #{$c}__primary-image {
            @apply w-full xl:w-[60%] shrink-0;
        }

        #{$c}__content {
            @apply relative p-6 xl:px-12 2xl:px-16;
        }

        #{$c}__content {
            @apply border-l-12 border-gold border-solid pl-6 2xl:pl-8 pt-4 pb-8;
        }

        #{$c}__title {
            @apply text-green-700 3xl:text-4xl mb-3 font-black;
        }

        .hero__link {
             @apply text-green-700 no-underline hover:underline focus:underline;
         }

        #{$c}__description {
             @apply text-lg 3xl:text-xl text-green-700 content;
         }
    }

    &--logo-overlay {
        @apply relative flex flex-col justify-center bg-green-900 min-h-[500px];

        .hero__bg {
            @apply inset-0 absolute print:relative bg-cover bg-top opacity-20;
        }

        .hero__secondary-image {
            @apply mx-auto mb-4;
        }

        #{$c}__content {
            @apply row w-full px-4 pt-10 pb-6 text-center content text-white white-links relative;
        }

        #{$c}__title {
            @apply md:drop-shadow-px leading-tight text-2xl mb-1 xl:text-5xl;
        }

        #{$c}__description {
            @apply md:text-lg;
        }
    }

    &--svg-overlay {
        @apply relative pt-hero;

        .hero__link {
            @apply absolute inset-0;
        }

        #{$c}__primary-image {
            @apply absolute inset-0 z-1;
        }

        .hero__secondary-image {
            @apply absolute inset-0 z-2;
        }

        #{$c}__title,
        #{$c}__description {
            @apply hidden;
        }
    }
}
