.hero {
    // To remove the gutters on small viewports
    margin-left: -1rem;
    margin-right: -1rem;

    // Remove the gutter override
    @screen mt {
        margin: 0;
    }

    .carousel-cell {
        padding-top: 36.3%;
    }
}
