.hero {
    // To remove the gutters on small viewports
    margin-left: -1rem;
    margin-right: -1rem;

    // Remove the gutter override
    @screen mt {
        margin: 0;
    }

    .carousel-cell {
        background-size: cover;
        background-position: center top;
        position: relative;
        height: 35vw;
        max-height: 550px;
        width: 100%;
    }

    &.contained .carousel-cell {
        @screen sm {
            height: 35vw;
        }

        @screen md {
            height: 30vw;
        }

        @screen lg {
            height: 25vw;
        }
    }
}
