.icon-cancel {
    &::after {
        content: "×";
    }
}

.icon-right-open {
    &::after {
        content: ">";
    }
}

.icon-down-open {
    &::after {
        content: ">";
        display: inline-block;
        transform: rotate(90deg);
    }
}

.right-triangle {
    &::after {
        content: "▶";
        padding: 0;
        display: inline-block;
    }
}
