.icon-cancel {
    &::after {
        content: "×";
    }
}

.icon-right-open {
    &::after {
        content: ">";
    }
}

.icon-down-open {
    &::after {
        content: ">";
        display: inline-block;
        transform: rotate(90deg);
    }
}
