.jny-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(auto-fit, minmax(33%, 1fr)) minmax(1em, 1fr);
}

.modular-layout {
    grid-template-areas: 
        "left body body right";

    //grid-template-columns: 'minmax(1em, 1fr) minmax(auto, 36.5rem) minmax(auto, 36.5rem) minmax(1em, 1fr)';
    //grid-template-rows: repeat(10, minmax(0, 1fr));
    //grid-auto-flow: row dense;
}

.grid-content {
    //grid-area: content;
    //grid-column-start: content-start;
    grid-column-end: content-end;
}

.modular-span-1 {
    grid-column-start: span body 1;
}

.modular-span-2 {
    grid-column-start: span body 2;
}

.inner-grid {
    grid-area: body;
}


.full-width {
    margin-left: calc(-100vw / 2 + 73rem / 2);
    margin-right: calc(-100vw / 2 + 73rem / 2);
}
