.slideout-menu {
    position: fixed;
    top: 0; // adjust to bring the menu down 65px
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

// Top level
.offcanvas-main-menu {
    display: block;

    ul ul li {
        background-color: #10312c;
    }

    ul li .main-menu {
        background-color: #10312c;
        text-transform: uppercase;
        font-size: 1rem;

        &:hover {
            background-color: #10312c;
        }
    }

    // Menu Header top level (MAIN MENU)
    ul ul {
        border-bottom: 5px solid #10312c;
    }
}

// Offcanvas menu overrides
.slideout-menu {
    height: 100%;
    background-color: #093f39;
    padding-left: 0;
    padding-right: 0;

    h2 {
        color: rgba(255, 255, 255, 0.9);
        padding: 0 0 5px 15px;
        margin-top: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    // Selected State
    .selected > a {
        color: #ffd969;
    }

    ul {
        background-color: #113f39;
        padding: 0;

        li a {
            color: rgba(255, 255, 255, 0.9);
        }

        a:hover,
        .selected a:hover {
            background: transparent;
            color: #ffd969;
        }

        // Indent second level now since first level is shown
        li > ul > li a {
            padding-left: 2em;
        }

        // Indent third level now since first level is shown
        li > ul > li > ul > li a {
            padding-left: 3em;
        }
    }
}

// Hide the main menu toggle when necessary
@screen mt {
    .offcanvas-main-menu {
        display: none;
    }
}
