.menu-icon {
    @apply relative inline-block;

    vertical-align: middle;
    width: 20px;
    height: 16px;
    cursor: pointer;
}

.menu-icon::after {
    @apply bg-white shadow-white absolute block w-full;

    top: 0;
    left: 0;
    height: 2px;
    content: '';
}

.menu-icon:hover::after {
    @apply bg-grey-default shadow-grey;
}
