ul.menu-top {
    @apply .m-0 .p-0;

    li {
        a {
            @apply .text-white;

            &:hover {
                @apply .text-yellow;
            }
        }

        &:last-child {
            @apply .mr-0;
        }

        @screen mt {
            @apply .inline-block .mx-2 .my-0;

            &.selected a {
                @apply .text-yellow .border-b .border-solid .border-yellow;
            }
        }
    }
}
