ul.menu-top {
    margin: 0;
    padding: 0;

    li {
        a {
            @apply .text-white;

            &:hover {
                @apply .text-yellow;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        @screen mt {
            display: inline-block;
            margin: 0 10px;

            &.selected a {
                @apply .text-yellow .border-b .border-solid .border-yellow;
            }
        }
    }
}
