dl.listing {
    margin: 0;

    dt {
        margin: 0 0 rem-calc(15) 0;
        line-height: 1.5em;
    }

    dt a {
        font-weight: normal;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    dd {
        color: #9a9a9a;
        font-size: 14px;
        line-height: 1.3em;
        margin: 0 0 0.85em;
    }

    &.events dt {
        margin: 0 0 0.1em;
    }
}

.more-link {
    display: block;
    margin: 1.3em 0 2em;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
