ul.listing,
dl.listing {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listing {
    dt,
    li {
        margin-bottom: 0.9375rem;
        line-height: 1.5em;
    }

    dt a,
    li a {
        font-weight: normal;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    dd {
        color: #707070;
        font-size: 14px;
        line-height: 1.3em;
        margin: 0 0 0.85em;
    }

    &.events dt {
        margin: 0 0 0.1em;
    }
}

