// Policy numbering style
.content > ol.policy-numbering {
    counter-reset: section;
    list-style-type: none;
    line-height: 1.5;
    margin-left: 1rem;

    p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    li {
        position: relative;
        padding-left: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;

        &::before {
            counter-increment: section;
            content: counters(section, ".") ".0 ";
            position: absolute;
            left: 0;
        }

        @media only screen and (width <= 576px) {
            padding-left: 2rem;
        }
    }

    // Reset the counter for nested lists
    ol {
        counter-reset: section;
        list-style-type: none;
        margin-left: 0;

        li {
            padding-left: 4rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 0.9rem;

            @media only screen and (width <= 576px) {
                padding-left: 2rem;
            }
        }

        li::before {
            counter-increment: section;
            content: counters(section, ".") " ";
        }
    }
    // Avoid incremeting ul bullets
    ul {
        counter-reset: section;
        margin-left: 1rem;

        @media only screen and (width <= 576px) {
            margin-left: -0.5rem;
        }

        li {
            padding-left: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 0.9rem;
            list-style-type: lower-alpha;

            @media only screen and (width <= 576px) {
                padding-left: 0.5rem;
            }
        }

        li::before {
            display: none;
        }
    }

    ul li ul {
        @media only screen and (width <= 576px) {
            margin-left: 0.5rem;
        }

        li {
            padding-left: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 0.9rem;
            list-style-type: lower-roman;

            @media only screen and (width <= 576px) {
                padding-left: 0.5rem;
            }
        }

        li::before {
            display: none;
        }
    }

    // Third level
    ol li ol li {
        padding-left: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
        list-style-type: none;
    }

    // Fourth level
    ol li ol li ol li {
        padding-left: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
        list-style-type: none;
    }
}
