.rotate_arrows.slick-dotted.slick-slider {
    margin-bottom: 0.9375rem;

    // medium breakpoint
    @media print, screen and (min-width: 26.25em) {
        margin-bottom: 1.875rem;
    }

    // large breakpoint
    @media print, screen and (min-width: 48.75em) {
        margin-bottom: 2.5rem;
    }
}

.overlay-arrows {
    .slick-next {
        z-index: 4;
        right: 15px;
        height: 40px;
        width: 40px;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

        &::before {
            content: '\e800';
        }
    }

    .slick-prev {
        z-index: 4;
        left: 15px;
        height: 40px;
        width: 40px;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

        &::before {
            content: '\e801';
        }
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: waynestate;
    font-size: 2.5rem;

    // breakpoint large
    @media print, screen and (min-width: 48.75em) {
        font-size: 3.75rem;
    }
}
