.addthis_sharing_toolbox {
    @apply .block;

    min-height: 32px;

    svg {
        fill: theme('colors.grey.darker') !important;
        width: 20px !important;
        height: 20px !important;
    }

    &::before {
        @apply .text-grey-darker .bg-grey-lighter .uppercase .float-left .leading-tight .text-sm;

        padding: 6px 11px 7px;
        letter-spacing: 0.1em;
        margin-right: 2px;
        content: 'Share';
    }
}

.at-icon-wrapper {
    line-height: 20px;
    height: 30px;
    width: 30px;
}

a.at-icon-wrapper.at-share-btn {
    @apply .mb-0;

    background: theme('colors.grey.lighter') !important;
}
