.content table.table-stack {
    @media (max-width: config('screens.md')) {
        @apply .border-t;

        // Hide table head
        thead tr {
            @apply .absolute;

            top: -9999em;
            left: -9999em;
        }

        tbody tr {
            @apply .block .py-2;
        }

        tbody td {
            @apply .block .px-4 .pt-0 .pb-1 .my-2;
        }

        // Add data labels
        td::before {
            @apply .block .font-bold;

            content: attr(data-label) ":";
        }
    }
}
