table.table-stack {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        line-height: 1.5;
        text-align: left;
        border: none;
    }

    // Header
    thead tr {
        border-collapse: collapse;
        background: #00565c;
        position: absolute;
        top: -9999em;
        left: -9999em;
    }

    tbody th {
        padding: 10px;
    }

    tr {
        border: 1px solid #eaeaea;

        th::before {
            content: attr(data-label) ": ";
            display: inline;
            font-weight: bold;
            line-height: 1.5px;
        }
    }

    /* Leave a space between table rows */
    tr + tr {
        margin-top: 1.5em;
    }

    /* Get table cells to act like rows */
    tr,
    td {
        display: block;
    }

    /* Add data labels */
    td::before {
        content: attr(data-label) ":";
        display: inline;
        font-weight: bold;
        line-height: 1.5;
        padding-right: 20px;
        color: #00565c;
    }

    @screen md {
        thead tr {
            position: static;
            top: 0;
            left: 0;
        }

        tr {
            border: none;

            th::before {
                content: "";
            }
        }

        tr + tr {
            margin: 0;
        }

        tr {
            display: table-row;
        }

        td {
            display: table-cell;

            &::before {
                content: "";
                padding: 0;
            }
        }
    }

    /* Stack labels vertically on smaller screens - medium down */
    @media screen and (max-width: 48.6875em) {
        td {
            padding-left: 0.75em;
        }

        td::before {
            display: block;
            margin-bottom: 0.75em;
            margin-left: 0;
        }
    }
}
